<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.westee.goodsservice.generate.Goods" alias="Goods"/>
        <typeAlias type="com.westee.goodsservice.data.GoodsInfo" alias="GoodsInfo"/>
    </typeAliases>
    <mappers>
        <mapper resource="db/mybatis/GoodsMapper.xml"/>
        <mapper resource="db/mybatis/ExpressInfoMapper.xml"/>
        <mapper resource="db/mybatis/WxExpressMapper.xml"/>
    </mappers>
</configuration>